/.idea/
.idea/*
.idea
.idea/
./jk2_access.log

/helloworld/.mvn/
/springboot_3_1/echo/mvnw
/springboot_3_1/echo/mvnw.cmd
/springboot_3_1/dockerized-boot-apps/simple-boot-app-dockerized/target/
/cache/spring-boot-jcache-ehcache-integration/.mvn/
